# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

language: objective-c
osx_image: xcode7.3
# xcode_workspace: ./Example/SwiftyMavenlink.xcworkspace
# cache: cocoapods
# podfile: ./Example/Podfile
before_install:
- brew install xctool
script:
 - pod --version
 - brew --version
 - xctool -version
 - xcodebuild -version -sdk
 - xctool -workspace ./Example/SwiftyMavenlink.xcworkspace -scheme SwiftyMavenlink-Example -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO build test
# - xctool test -workspace ./Example/SwiftyMavenlink.xcworkspace -scheme SwiftyMavenlink-Example -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO
 - pod lib lint --allow-warnings
